<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Profile</display-name>
  <servlet>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>asg.login.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>asg.login.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/LoginPage</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <filter>
    <filter-name>FormInputFilter</filter-name>
    <filter-class>asg.login.FormInputFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FormInputFilter</filter-name>
    <url-pattern>/display.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>display</servlet-name>
    <jsp-file>/display.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>display</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
</web-app>